div{
    height: 200px;
    width: 500px;
    background-color: lightblue;
    border-width: 2px;
    border-radius: 15px;
    border-color: black;
    border-style: solid;
    padding-bottom: 20px;
    margin-bottom: 25px;
    margin-left: 15px;
}
h1{
    height: 70px ;
    width: 500px;
    border-bottom: 2px dashed black;
    margin-left: 15px;
}