*{
    font-family: 'Courier New', Courier, monospace;
}
h1{
    color: #b92b27
}
h3{
    color: #b92b27;
}
#login{
    background-color: rgb(255, 255, 255);
}
#signup{
    background-color: #b92b27;
    color: white;
}
.upvote{
    background-color: green;
    color:white
}
p a{
    color: blueviolet;
}
nav ul li a{
    color:gold
}
p+h3{
    text-decoration: underline;
}
.upvote+button{
    background-color:cornflowerblue ;
    color: white;
}
div > input{
    background-color: rgb(0, 255, 149);
    color: black;
}
input[type="text"]{
    color:rgb(255, 0, 0)
}
input[type="password"]{
    color:rgb(255, 0, 0)
}
h1::first-letter{
    color:rgb(0, 0, 0)
}