div{
    width: 200px;
    height: 200px;
    background-color: rgba(255, 0, 0, 1);
    transition: 2s;
    box-shadow: 0px 0px 80px rgba(0, 0, 0, 1) ;

}
div:hover{
    background-color: rgba(0, 255, 0, 1);
    border-radius: 50%;
}