.face{
    width: 400px;
    height: 400px;
    background-color: rgb(255, 140, 0);
    border-radius: 50%;
}
.mouth{
    width: 200px;
    height: 75px;
    background-color: rgb(255, 0, 0);
    border-radius: 0 0 70px 70px;
    position: absolute;
    top: 260px;
    left: 100px;
}
.left-eye,.right-eye{
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 100px;
}
.left-eye{
    left: 120px;
}
.right-eye{
    left: 230px;
}