h1{
    text-align:center;
    color: red;
    text-decoration: underline wavy blue;
    font-family: copperplate;
    text-transform: uppercase;
}
h3{
    font-weight: bold;
    color:blue;
    text-align:center;
    text-decoration: yellow underline size 155px;
}
p{
    color: green;
    font-size: 18px;
    font-family:sans-serif;
} 